
@{
                /**/

                ViewBag.Title = "DangXuat";
                Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
<h1> Xác Nhận Đăng Xuất?</h1>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Đăng Xuất" class="btn btn-default" />
        </div>
    </div>
}
