
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="contact py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3" style="width:500px; float:left; padding:0px 50px;">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3" style="color:white">Contact US</h3>
        <div class="contact-list-grid">
            <form action="#" method="post">
                <div class=" agile-wls-contact-mid">
                    <div class="form-group contact-forms">
                        <input class="form-control" type="text" placeholder="Name">
                    </div>
                    <div class="form-group contact-forms">
                        <input class="form-control" type="email" placeholder="Enter">
                    </div>
                    <div class="form-group contact-forms">
                        <input class="form-control" type="text" placeholder="Phone">
                    </div>
                    <div class="form-group contact-forms">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button class="btn btn-block sent-butnn" type="submit" style="background-color:#FF9900">Send</button>
                </div>
            </form>
        </div>
    </div>
    <!--//contact-map -->
</div>





<div class="col-lg-6 col-md-2 address-w3l-right text-center" style=" float:left;">
    <div class="address-gried  ">
        <span class="icon">Địa Chỉ</span>
        <p class="text">
            xxx<br>TP.HCM
        </p><p>
        </p>
    </div>
    <div class="address-gried mt-3">
        <span class="icon">Điện Thoại</span>
        <p class="text"> +32145896<br>+22541336521</p>
    </div>
    <div class=" address-gried mt-3">
        <span class="icon">Email</span>
        <p class="text">
            <a href="mailto:info@example.com">123@example1.com</a>
            <br><a href="mailto:info@example.com">456@example2.com</a>
        </p>
    </div>
</div>
<div class="col-lg-6 col-md-2 map-info-right px-0" style="float:left;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15674.214628996545!2d106.78655757815018!3d10.84542935089811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527257904fa17%3A0xa27eb98be2cffc1c!2zVmnhu4duIEPDtG5nIE5naOG7hyBDYW8gSHV0ZWNo!5e0!3m2!1svi!2s!4v1554132671171!5m2!1svi!2s" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>


