
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2 style="text-align:center; color:orange;">ĐÃ ĐẶT HÀNG THÀNH CÔNG</h2>
<div style="height:50px"> </div>
<a href="@Url.Action("Index", "TrangChu")" class="btn btn-large btn-block btn-danger btn-checkout" style="text-align:center;margin:auto; width:200px;">
    QUAY LẠI TRANG CHỦ
</a>


